<a href="https://colab.research.google.com/github/PlugnPlayProgramming/R/blob/main/1_04%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1주차 4장. 변수와 메모리 할당

In [ ]:
# 변수 사용예제 1
fred = 100
print(fred)

print('fred') 

fred = 200
print(fred)

100
fred
200

In [ ]:
# 변수 사용예제 2
value = 100
num_coins = 15
print(num_coins * value)

print(15 * 100)

print(15 * value)

1500
1500
1500

In [ ]:
# 변수 사용예제 3
message = "John"
print(message) 

print("Hello!", "John") 

score = 78
print(message, score)

print("message", "score") 

print( "abba" * 3)

John
Hello! John
John 78
message score
abbaabbaabba

In [ ]:
# 정수형 사용 예제 1
price = 125
print(price * 4)

price = price + 25
print(price)

print(price * 10) 

print(price)

500
150
1500
150

In [ ]:
# 정수형 사용 예제 2
price = input("가격을 입력하세요 : ")	# input value = 125
print(price * 4)

price = int(price)
print(price)

print(price * 4)

가격을 입력하세요 : 125
125125125125
125
500

In [ ]:
# 실수형 사용 예제 1
price = 30.5
print(price * 4)

price = price + 20
print(price)

print(price * 10) 

print(price)

122.0
50.5
505.0
50.5

In [ ]:
# 실수형 사용 예제 2
price = input("가격을 입력하세요 : ")	# input value = 30.5
print(price * 4)

price = float(price)
print(price) 

print(price * 4)

가격을 입력하세요 : 30.5
30.530.530.530.5
30.5
122.0

In [ ]:
# 문자열 사용 예제 1
s1 = "hello"
print(s1)

s2 = 'world'
print(s2)

print(s1+s2)

hello
world
helloworld

In [ ]:
# 문자열 사용 예제 2
s1 = 'The Brave'
print(s1)

s2 = 'The Beauty'
s3 = s1 + 'gets' + s2
print(s3)

print(s3[4:9])

The Brave
The BravegetsThe Beauty
Brave

In [ ]:
# 리스트 사용 예제
fruits = ['apple', 'banana', 'blueberry', 'lime']
print(fruits[2])

numbers = [ 1, 2, 4, 7, 11, 16, 22, 29 ]
print(numbers)

blueberry
[1, 2, 4, 7, 11, 16, 22, 29]

In [ ]:
# 퀴즈 2-답안
message = "John"
print(message)

John