<a href="https://colab.research.google.com/github/PlugnPlayProgramming/R/blob/main/1_10%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1주차 10장. 다중조건문 이해와 활용

In [ ]:
# 논리형 활용
a = 1
b = 2
c = 3

# And
if a < b and a < c :
	print("a is less than b and c")

# Non-exclusive or
if a < b or a < c :
	print("a is less than either a or b (or both)")

# Boolean data type. True or False
a = True

if a :
	print("a is true")
else :
	print("a is false")

a is less than b and c
a is less than either a or b (or both)
a is true

In [ ]:
# 입력된 월 확인하기
Birthdate = input("생년월일을 입력하세요: ")

Year = Birthdate[ 0 : 4 ] 
Month = Birthdate[ 4 : 6 ] 
Day = Birthdate[ 6 : ]

if Month < "01" or Month > "12" :
	print("월이 잘못 입력 되었습니다. 다시 실행해 주세요!")
if Birthdate > "20220101" : 
	print("나이를 계산할 수 없습니다")
else:
	age = 2022 - int(Year)

if Month > "04" : 
	age = age - 1

print("당신의 나이는 ", age, " 입니다")

생년월일을 입력하세요: 19880511
당신의 나이는  33  입니다

In [ ]:
# 과락 확인, or
Korean = int(input("국어점수를 입력하세요: "))

English = int(input("영어점수를 입력하세요: "))
Math = int(input("수학점수를 입력하세요: ")) 
History = int(input("역사점수를 입력하세요: "))

if Korean < 50 or English < 50 or Math < 50 or History < 50 :
  print("과락입니다.")

국어점수를 입력하세요: 80
영어점수를 입력하세요: 70
수학점수를 입력하세요: 60
역사점수를 입력하세요: 45
과락입니다.

In [ ]:
# 합격 확인, and
Korean = int(input("국어점수를 입력하세요: "))
English = int(input("영어점수를 입력하세요: "))
Math = int(input("수학점수를 입력하세요: ")) 
History = int(input("역사점수를 입력하세요: "))

Mean = (Korean + English + Math + History) / 4
if Korean >= 50 and English >= 50 and Math >= 50 and History >= 50 and Mean >= 60 : 
  print("합격입니다.")

국어점수를 입력하세요: 80
영어점수를 입력하세요: 70
수학점수를 입력하세요: 50
역사점수를 입력하세요: 90
합격입니다.

In [ ]:
# 연습문제 1.1-답안
num=0
if num > 0 : 
  print(num)

In [ ]:
# 연습문제 1.2-답안
num=0
if num > 0 : 
	print(num)
else :
	print(num + 10)

10

In [ ]:
# 연습문제 1.3-답안
num=0
if num == 10 :
	num = 1

In [ ]:
# 연습문제 1.4-답안
num = input("정수를 입력하세요 : ") 
s = int(num) ** 2
print(s)

정수를 입력하세요 : 2
4

In [ ]:
# 연습문제 1.5-답안
score = 70
grade="F"

if score >= 90 :
  grade = "A"
elif score >= 80 : 
	grade = "B"
elif score >= 70 : 
	grade = "C"
else :
	grade = "D"

print(grade)

C

In [ ]:
# 연습문제 2-답안
i = 1
j = -1

if i < -j : 
  print(i)
else :
  print(j)

-1

In [ ]:
# 연습문제 3-답안
i = 1
j = -1
k = 0

if i <= -j and j < k: 
	print(i)
elif j >= k : 
	print(j)
else :
	print(k)

1

In [ ]:
# 연습문제 4-답안
s1 = "ab"
s2 = "abc"
s3 = "bc"

if s1 < s2 :
	print("s1: ", s1)

if s1 < s3 : 
	print("s1: ", s1)

if s2 < s3 : 
	print("s2: ", s2)

s1:  ab
s1:  ab
s2:  abc

In [ ]:
# 연습문제 5-코드
Korean = int(input("국어성적: "))
English = int(input("영어성적: "))
Math = int(input("수학성적: "))

Mean = (Korean + English + Math) / 3
if Korean < 50 or English < 50 or Math < 50 :
	print("과락")
elif Mean >= 60 : 
	print("합격")
else :
	print("불합격")

국어성적: 48
영어성적: 89
수학성적: 74
과락

In [ ]:
# 연습문제 6-코드
mon = int(input("월을 입력하세요 : "))

if mon==1 or mon==3 or mon==5 or mon==7 or mon==8 or mon==10 or mon==12 :
	print("31일 까지")
elif mon==2 :
	print("28일 또는 29일까지")
elif mon==4 or mon==6 or mon==9 or mon==11 :
	print("30일 까지")
else :
	print("입력 오류")

# 다른 방법(리스트 사용)
mon = int(input("월을 입력하세요 : "))

if mon in [1,3,5,7,8,10,12] :
	print("31일 까지")
elif mon==2 :
	print("28일 또는 29일까지")
elif mon in [4,6,9,11] :
	print("30일 까지")
else :
	print("입력 오류")

월을 입력하세요 : 12
31일 까지
월을 입력하세요 : 12
31일 까지

In [ ]:
# 연습문제 7-코드
season = input("계절을 입력하세요: ")
temp = int(input("실내 온도를 입력하세요: "))

if season=="겨울":
	if temp>=20 and temp<=22 : 
		print("적정 온도입니다")
	else:
		print("적정 온도가 아닙니다") 
elif season=="여름" :
	if temp>=24 and temp<=26 : 
		print("적정 온도입니다")
	else:
		print("적정 온도가 아닙니다")
else:
	print("계절은 겨울과 여름만 입력할 수 있습니다")

계절을 입력하세요: 겨울
실내 온도를 입력하세요: 21
적정 온도입니다

In [ ]:
# 퀴즈 1-코드
num = 5
if num > 0 :
		print(num)
else :
		print(num + 10)

5